.result {
  height: 60px;
  background-color: rgb(167, 216, 139);
  width: 100%;



}

.result p {
  font-size: 40px;
  margin: 4px;

}

.calculator-body {
  max-width: 600px;
  margin: auto;
  
}

.button {
  display: block;
  background-color: rgb(0, 0, 0);
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: rgb(153, 184, 182);
}